<!doctype html>
<html ng-app="app">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="../libs/angular.min.js"></script>
    <script src="admin.js"></script>
</head>
<body ng-controller="AdminController as vm">
<h1>Administration</h1>
<button ng-click="vm.start()">Start generating thumbmail</button>
<hr />
<h2>Logs</h2>
<p ng-repeat="log in vm.logs">
    {{log}} <br />
</p>

</body>
</html>
