<!doctype html>
<html ng-app="app">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script src="libs/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="translations.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-controller="AppController as vm" ng-keyup="vm.manageKeyUp($event)">

    <div class="openMenuButton" title="{{vm.translations.OPEN_MENU}}" ng-click="vm.openSidePanel()"></div>
    <a id="downloadButton" ng-href="photos/{{vm.selectedPicture}}" class="downloadButton" title="{{vm.translations.DOWNLOAD_CURRENT_PICTURE}}" download></a>
    <div class="nextPictureButton" ng-class="{'disabled':vm.pictureList.length === 0 || vm.selectedPictureIndex === (vm.pictureList.length - 1)}" ng-click="vm.selectNextPicture()" title="{{vm.translations.NEXT_PICTURE}}"></div>
    <div class="previousPictureButton" ng-class="{'disabled':vm.selectedPictureIndex === 0}" ng-click="vm.selectPreviousPicture()" title="{{vm.translations.PREVIOUS_PICTURE}}"></div>
    <div class="informationButton" ng-click="vm.openInfoModal()" title="{{vm.translations.INFORMATION}}"></div>

    <div class="content">

        <div id="sidepanel" class="sidePanel">
            <div class="closeMenuButton" title="{{vm.translations.CLOSE_MENU}}" ng-click="vm.closeSidePanel()"></div>
            <div class="sidePanelContent">
                <h1>{{vm.translations.WEDDING}}<br />
                    <span class="bride">{{vm.translations.BRIDE_NAME}}</span> & <span class="groom">{{vm.translations.GROOM_NAME}}</span></h1>

                {{vm.translations.CHOOSE_FILE_TO_SEE}}:

                <select id="selectFolder"
                        class="selectFolder"
                        required="required"
                        ng-options="folder for folder in vm.folderList"
                        ng-model="vm.selectedFolder"
                        ng-change="vm.selectFolder()">
                    <option value="GalerieDesGlaces_ALLFOLDER">{{vm.translations.ALL_FOLDER}}</option>
                </select>
                <div class="pictureList">
                    <div class="pictureListElement" ng-repeat="picture in vm.pictureList">
                        <img id="{{picture}}" class="thumbmail" ng-class="{'selected': $index === vm.selectedPictureIndex}" ng-src="thumbmail/{{picture}}" ng-click="vm.selectPictureIndex($index)"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="imageContainer">
            <img class="image" ng-src="big_thumbmail/{{vm.selectedPicture}}" />
        </div>

    </div>

    <div id="modalInformation" class="modalInformation">
        <div ng-click="vm.closeInfoModal()" class="closeModalButton black"></div>
        <h1 class="centeredText">{{vm.translations.DID_YOU_KNOW}}</h1>
        <p class="centeredText">{{vm.translations.INFORMATION_CONTENT}}</p>
    </div>

</body>
</html>
