/*
   CSS TO PERSONALIZE as your convenience
*/

/* this is the color of the groom's name */
.groom {
    color:orange;
}

/* this is the color of the bride's name */
.bride {
    color:Crimson;
}

/* this is the background color of the side panel */
.sidePanel {
    background-color:Wheat;
}

/*
    DON'T TOUCH CODE AFTER THIS EXCEPT IF YOU KNOW WHAT YOU ARE DOING
*/

html { width:100%; height:100%; padding:0; margin:0; background-color:black;}
body { width:100%; height:100%; padding:0; margin:0;}

h1 {
    font-family:wedding, sans-serif;
}

select {
    width:100%;
}
/* BUTTONS */

.nextPictureButton {
    position:absolute;
    right:25px;
    top:calc(50% - 16px);
    background-image:url('./img/right.svg');
    width:32px;
    height:32px;
    background-size:   contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.previousPictureButton {
    position:absolute;
    left:25px;
    top:calc(50% - 16px);
    background-image:url('./img/left.svg');
    width:32px;
    height:32px;
    background-size:   contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.informationButton {
    position:absolute;
    right:25px;
    bottom:20px;
    background-image:url('./img/info.svg');
    width:32px;
    height:32px;
    background-size:   contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.downloadButton {
    position:absolute;
    right:25px;
    top:20px;
    background-image:url('./img/download.svg');
    width:32px;
    height:32px;
    background-size:   contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.openMenuButton {
    position:absolute;
    left:25px;
    top:20px;
    background-image:url('./img/open.svg');
    width:32px;
    height:32px;
    background-size:   contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.closeMenuButton {
    position:relative;
    left:135px;
    top:10px;
    background-image:url('./img/close.svg');
    width:32px;
    height:32px;
    background-size:   contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* CONTENT */

.imageContainer {
    width:100%;
    height:100%;
    text-align:center;
}

.image {
    max-width:99%;
    max-height:99%;
}

.content {
    display:flex;
    flex-direction:row;
    width:100%;
    height:100%;
}

/* SIDE PANEL */

.sidePanel {
    width: 180px;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}

.sidePanelContent {
    padding-left:10px;
    padding-right:10px;
    text-align:center;
    position:absolute;
    display: flex;
    flex-direction:column;
    height:92%;
}

.sidepanelToOpen {
    animation: openSidePanelAnimation 2s forwards;
    -webkit-animation: openSidePanelAnimation 2s forwards; /* Chrome, Safari, Opera */
}

.sidepanelToClose {
    animation: closeSidePanelAnimation 2s forwards;
    -webkit-animation: closeSidePanelAnimation 2s forwards; /* Chrome, Safari, Opera */
}

.selectFolder {
    margin-top:10px;
    margin-bottom:25px;
}

.pictureList {
    overflow-y: auto;
    overflow-x: hidden;
    flex:1;
    width:100%;
    /* magic number for fix scrolling bar */
    padding-top:5px;
    padding-right: 7px;
}

.thumbmail {
    width:140px;
}

.thumbmail.selected {
    border: 2px solid Crimson;
}

/* MODAL INFORMATION */

.modalInformation {
    background-color: Wheat;
    color:black;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width:400px;
    height:200px;
    border-radius:10px;
    padding:10px;
}

.closeModalButton {
    position:absolute;
    right:10px;
    top:10px;
    background-image:url('./img/close.svg');
    width:32px;
    height:32px;
    background-size:   contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.closeModalButton.black {
    background-image:url('./img/black_close.svg');
}
.infoModalToOpen {
    animation: openInfoModalAnimation 2s forwards;
    -webkit-animation: openInfoModalAnimation 2s forwards; /* Chrome, Safari, Opera */
}

.infoModalToClose {
    animation: closeInfoModalAnimation 2s forwards;
    -webkit-animation: closeInfoModalAnimation 2s forwards; /* Chrome, Safari, Opera */
}


/* TOOLS */

.centeredText {
    text-align:center;
}

.disabled {
    opacity: 0.3;
}


/* SCROLLBAR */

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:#7d7d7d;
}

/* FONTS */

@font-face {
    font-family: 'wedding';
    src: url('./font/wedding.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ANIMATION */

@-webkit-keyframes openSidePanelAnimation {
    from {
        left:-200px;
    }
    to {
        left:0px;
    }
}

@keyframes openSidePanelAnimation {
    from {
        left:-200px;
    }
    to {
        left:0px;
    }
}

@-webkit-keyframes closeSidePanelAnimation {
    from {
        left:0px;
    }
    to {
        left:-200px;
    }
}

@keyframes closeSidePanelAnimation {
    from {
        left:0px;
    }
    to {
        left:-200px;
    }
}


@-webkit-keyframes openInfoModalAnimation {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes openInfoModalAnimation {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes closeInfoModalAnimation {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

@keyframes closeInfoModalAnimation {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
